[submodule "inifile2"]
	path = ./third_repo/inifile2
	url = git@github.com:AaronKonishi/inifile2.git
[submodule "third_repo/inifile2"]
	path = third_repo/inifile2
	url = git@github.com:AaronKonishi/inifile2.git
